
body {
    font-family: 'Montserrat', sans-serif;
    background-color: darkgray;
}

.navigation{
    background-color: #333740;
    box-shadow: 0px 0px 10px 0px #000;
    background: linear-gradient(rgba(51, 55, 64, 0.7), rgba(40, 40, 40, 0.9));

}

.info {
    text-align: justify;
    font-size: 16px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.yt-player {
    padding: 40px;
}

.form-container {
    position: absolute;
    top: 20vh;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}

.bg {
    background: url("../img/hardcore.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.gibson {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .9)), url("../img/gibson.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

/*admin dashboard*/
/* navbar */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url("../img/hardcore.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
}

.current{
    background-color: darkgray;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
}

.current:hover{
    background-color: gray;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);

}


