<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
<th:block th:replace="navigation-bar :: navigator"/>
<div class="band-form">
    <form method="post" th:object="${bandForm}" th:action="@{/bands/__${method}__}">
        <label for="name">Name</label>
        <input id="name" th:field="*{name}"/>

        <label for="musicGenre">Music Genre</label>
        <input id="musicGenre" th:field="*{musicGenre}"/>

        <label for="members">Members</label>
        <input id="members" type="number" min="1" th:field="*{members}"/>


        <button type="submit">SUBMIT</button>
    </form>
</div>
</body>
</html>