<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<div class="main-container">
    <div class="events">
        <div th:each="event : ${events}">
            <p th:text="'Event name is ' + ${event.name} + ' and it starts at ' + ${event.date} + ' on a ' + ${event.getVenue().getName()}"></p>
            <p th:text="'Bands playing on this event are '"></p>
            <span th:each="band: ${event.getBands()}" th:text="${band.getName()} + ' ' "></span>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form method="post"
                      th:action="@{/events/remove/__${event.getId()}__}">
                    <button type="submit">Remove</button>
                </form>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form method="get" th:action="@{/events/edit/__${event.getId()}__}">
                    <button type="submit">Edit</button>
                </form>
            </div>

        </div>


    </div>
</div>

</body>
</html>