<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Event list</title>
    <base href="/">
    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a41f39855.js" crossorigin="anonymous"></script>
</head>
<body>

    <th:block th:replace="navigation-bar :: navigator"/>

<div class="main-container">
    <div class="events">

        <table class="table table-striped table-dark">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Date</th>
                <th>Venue</th>
                <th>Bands</th>

                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            <tr th:each="ev,loop : ${events}">
                <td th:text="${loop.index+1}" ></td>
                <td><a th:href="@{/events/__${ev.getId()}__}" th:text="${ev.getName()}"></a></td>
                <td th:text="${ev.getDate()}"></td>
                <td th:text="${ev.getVenue().getName()}"></td>
                <td>
                    <table th:each="band: ${ev.getBands()}" th:text="${band.getName()}"></table>
                </td>


                <!--            <p th:text="'Event name is ' + ${event.name} + ' and it starts at ' + ${event.date} + ' on a ' + ${event.getVenue().getName()}"></p>-->
                <!--            <p th:text="'Bands playing on this event are '"></p>-->
                <!--            <span th:each="band: ${event.getBands()}" th:text="${band.getName()} + ' ' "></span>-->

                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <form method="post"
                          th:action="@{/events/remove/__${ev.getId()}__}">
                        <button type="submit" class="btn btn-primary btn-sm">Remove</button>
                    </form>
                </td>

                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <form method="get" th:action="@{/events/edit/__${ev.getId()}__}">
                        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                    </form>
                </td>


            </tr>
        </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form method="get" th:action="@{/events/add}">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Add new event</button>
            </form>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form method="get" th:action="@{/}">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Back to the index page</button>
            </form>
        </div>

    </div>
</div>


</body>
</html>