<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
    <base href="/">
    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" media="screen"/>
</head>
<body>
<th:block th:replace="navigation-bar :: navigator"/>
<div class="user-form">
    <form method="post" th:object="${userForm}" th:action="@{/users/add}">

        <label for="name">Username</label>
        <input id="name" th:field="*{username}"/>

        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}"/>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>

        <label for="passwordConfirmation">Confirm Password</label>
        <input id="passwordConfirmation" type="password" th:field="*{confirmPassword}"/>

<!--        <label for="roleGranted">Role</label>-->
<!--        <select id="roleGranted"> <option th:each="role : ${roles}"-->
<!--                                          th:value="${role.getName()}" th:text="${role.name}"/></select>-->


        <button type="submit">SUBMIT</button>
    </form>
</div>

</body>
</html>