<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
<th:block th:replace="navigation-bar :: navigator"/>
<div class="venue-form">
    <form method="post" th:object="${venueForm}" th:action="@{/venues/add}">
        <label for="name">Name</label>
        <input id="name" th:field="*{name}"/>

        <label for="address">Address</label>
        <input id="address" th:field="*{address}"/>



        <button type="submit">SUBMIT</button>
    </form>
</div>
</body>
</html>