<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Venue info</title>
    <base href="/">
    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a41f39855.js" crossorigin="anonymous"></script>
</head>
<body>

    <th:block th:replace="navigation-bar :: navigator"/>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 bg-white text-body info">
                <header>
                    <h1 th:text="${venue.name}" class="h2 font-weight-bold text-uppercase ml-0 mb-4"></h1>
                </header>
                <p th:text="${venue.bio}"></p>
            </div>
            <div class="col-lg-4">
                <img width="600"  class="img-fluid" th:src="*{'data:image/jpg;base64,'+ base64EncodedImage}" />
            </div>
        </div>
    </div>
</article>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form method="get" th:action="@{/}">
        <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Back to the index page</button>
    </form>
</div>


</body>
</html>